---
- name: Create the data directory for the namenode metadata
  file:
    path=/data/configdb
    owner=mongod
    group=mongod
    state=directory
  become: yes

- name: Create the mongo configuration file
  template: src=mongoc.conf.j2 dest=/etc/mongoc.conf
  become: yes

- name: Check process mongod
  shell: ps -auxww | grep mongod
  register: ps
  changed_when: ps.stdout_lines|length <= 2

- name: Run Mongod config
  shell: ./mongod --config /etc/mongoc.conf
  args:
    chdir: /opt/mongodb/bin
  when: ps.stdout_lines|length <= 2
  become: yes
  become_user: mongod
