logpath=/var/log/mongos.log
fork=true
configdb=configReplSet/{{ hostvars[groups['config'][0]]['ansible_nodename'] }}:27019,{{ hostvars[groups['config'][1]]['ansible_nodename'] }}:27019,{{ hostvars[groups['config'][2]]['ansible_nodename'] }}:27019
chunkSize=1
