---
- name: Create the zookeeper directory
  file:
    path=/opt/{{zookeeper_version}}
    state=directory
    mode=777
  become: yes

- name: Check install zookeeper
  stat: path="/opt/{{zookeeper_version}}/{{zookeeper_version}}"
  register: st
  become: yes

- name: Install zookeeper
  unarchive:
    src: "{{zookeeper_version}}.tar.gz"
    dest: "/opt/{{zookeeper_version}}"
  become: yes
  when: not st.stat.exists

- name: Create symlink /opt/zookeeper
  file:
    src: "/opt/{{zookeeper_version}}/{{zookeeper_version}}"
    dest: "/opt/zookeeper"
    state: link
  become: yes

- name: Adding the path in the bashrc files
  lineinfile:
    dest: "/home/deploy/.bashrc"
    line: 'export PATH=$PATH:/opt/zookeeper/bin'
    insertafter: 'EOF'
    regexp: 'export PATH=\$PATH:/opt/zookeeper/bin'
    state: present
