---
- get_url: url="{{grafana_url}}"
    mode=0644
    force=no
    validate_certs=no
    dest="{{workspace}}/{{grafana_version}}.rpm"
  delegate_to: localhost
  run_once: true

- stat: path="/tmp/{{grafana_version}}.rpm"
  register: st
  become: yes

- copy: src="{{workspace}}/{{grafana_version}}.rpm" dest="/tmp/{{grafana_version}}.rpm" mode=777
  when: not st.stat.exists

- yum: name=fontconfig state=present
  environment: "{{proxy_env}}"
  become: yes

- yum: name=/tmp/{{grafana_version}}.rpm state=present
  environment: "{{proxy_env}}"
  become: yes

# - service: name=grafana-server state=restarted
#   become: yes
