---
- name: Create the mongod group
  group:
    name: mongod
  become: yes

- name: Create the mongod user
  user:
    name: mongod
    group: mongod
  become: yes

- name: Change mode /var
  file:
    path=/var
    mode=777
  become: yes

- name: Change mode /var/log
  file:
    path=/var/log
    mode=777
  become: yes

- name: Check install mongodb
  stat: path="/opt/{{mongo_version}}"
  register: st
  become: yes

- name: Install mongodb
  unarchive:
    src: "{{mongo_version}}.tgz"
    dest: "/opt"
    owner: mongod
    group: mongod
  become: yes
  when: not st.stat.exists

- name: Create symlink /opt/mongodb
  file:
    src: "/opt/{{mongo_version}}"
    dest: "/opt/mongodb"
    owner: mongod
    group: mongod
    state: link
  become: yes

- name: Adding the path in the bashrc files
  lineinfile:
    dest: "/home/deploy/.bashrc"
    line: 'export PATH=$PATH:/opt/mongodb/bin'
    insertafter: 'EOF'
    regexp: 'export PATH=\$PATH:/opt/mongodb/bin'
    state: present

- name: Adding the path in the bashrc files
  lineinfile:
    dest: "/home/mongod/.bashrc"
    line: 'export PATH=$PATH:/opt/mongodb/bin'
    insertafter: 'EOF'
    regexp: 'export PATH=\$PATH:/opt/mongodb/bin'
    state: present
  become: yes
  become_user: mongod

- name: Create the script directory
  file:
    path=/script
    state=directory
    mode=777
  become: yes
