---
- name: Change /etc/hosts
  shell: "
      if grep \"{{ hostvars[item]['ansible_default_ipv4']['address'] }} {{ hostvars[item]['ansible_nodename'] }}\" /etc/hosts;
      then echo 0;
      else echo \"{{ hostvars[item]['ansible_default_ipv4']['address'] }} {{ hostvars[item]['ansible_nodename'] }}\" >> /etc/hosts;
      fi
    "
  register: st
  changed_when: st.stdout == ""
  with_items: groups['server'] | difference(inventory_hostname)
  become: yes

- name: Create the mongod group
  group:
    name: mongod
  become: yes

- name: Create the mongod user
  user:
    name: mongod
    group: mongod
  become: yes

- name: Change mode /var
  file:
    path=/var
    mode=777
  become: yes

- name: Change mode /var/log
  file:
    path=/var/log
    mode=777
  become: yes

- name: Install mongodb
  unarchive:
    src: mongodb-linux-x86_64-3.0.8.tgz
    dest: "/opt"
    owner: mongod
    group: mongod
  become: yes

- name: Create symlink /opt/mongodb
  file:
    src: "/opt/mongodb-linux-x86_64-3.0.8"
    dest: "/opt/mongodb"
    owner: mongod
    group: mongod
    state: link
  become: yes

- name: Adding the path in the bashrc files
  lineinfile:
    dest: "/home/deploy/.bashrc"
    line: 'export PATH=$PATH:/opt/mongodb/bin'
    insertafter: 'EOF'
    regexp: 'export PATH=\$PATH:/opt/mongodb/bin'
    state: present
