---
# Gather facts to be able to use them in next plays
- hosts: all
  gather_facts: yes
  remote_user: deploy

- hosts: all
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: etc_hosts, tags: [commons, replica, config, sharding]  }
    - { role: mongodb/commons, tags: [commons, replica, config, sharding] }

#################################
# Creation de la config replica #
#################################
- hosts: replica-rs0
  gather_facts: no
  remote_user: deploy
  roles:
    - {
        role: mongodb/replica, tags: [replica],
        replica_name: rs0,
        replica_port: 27017
      }

- hosts: replica-rs1
  gather_facts: no
  remote_user: deploy
  roles:
    - {
        role: mongodb/replica, tags: [replica],
        replica_name: rs1,
        replica_port: 27018
      }

- hosts: client
  gather_facts: no
  remote_user: deploy
  roles:
    - {
        role: mongodb/client/replica, tags: [replica],
        replica: [
          { name: rs0, port: 27017 },
          { name: rs1, port: 27018 }
        ]
      }

#########################
# Creation de la config #
#########################
- hosts: config
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: mongodb/config, tags: [config] }

- hosts: client
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: mongodb/client/config, tags: [config] }

########################
# Creation du sharding #
########################
- hosts: sharding
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: mongodb/sharding, tags: [sharding] }

- hosts: client
  gather_facts: no
  remote_user: deploy
  roles:
    - {
        role: mongodb/client/sharding, tags: [sharding],
        replica: [
          { name: rs0, port: 27017 },
          { name: rs1, port: 27018 }
        ]
      }

#############
# Test data #
#############
- hosts: client
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: mongodb/test, tags: [replica] }
