---
# Gather facts to be able to use them in next plays
- hosts: all
  gather_facts: yes
  remote_user: deploy

#- hosts: all
#  gather_facts: no
#  remote_user: deploy
#  roles:
#    - { role: etc_hosts, machines: all }

- hosts: master
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: jdk }
    - { role: hadoop/core, tags: [core] }
    - { role: hadoop/master, tags: [master] }

- hosts: slave
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: jdk }
    - { role: hadoop/core, tags: [core] }
    - { role: hadoop/slave, tags: [slave] }

# Faire un format du cluster => hdfs namenode -format
# Démarrage sur le master (attention à l'autorisation des clefs) => start-dfs.sh / start-yarn.sh / mr-jobhistory-daemon.sh start historyserver
# Test mapRed => hadoop jar /tmp/hadoop-mapreduce-examples-2.7.3.jar pi  2 5

- hosts: hive
  gather_facts: no
  remote_user: deploy
  roles:
    - { role: jdk }
    - { role: hadoop/core, tags: [hive] }
    - { role: hive, tags: [hive] }
